<%= form_for @book, :html => { :multipart => true} do |f| %>
  <p>
    <%= f.label :name, :class => "control-label" %><br />
    <%= f.text_field :name, class: :"form-control", id: :"inputSuccess1" %>
  </p>
  <p>
  <!-- Getting string of all authors and put it to text_field -->
    <% author_str = '' %>
    <% db_authors = Authorship.where(book_id: @book.id) %>
    <% last_author_id = Authorship.where(book_id: @book.id).last.author_id %>
    <% last_db_author = Author.find_by(id: last_author_id) %>
    <% db_authors.each do |a| %> 
      <% tmp_author = Author.find_by(id: a.author_id) %>
      <% author_str += tmp_author.name %>
      <% author_str += ', ' if tmp_author != last_db_author%>
    <% end %>

    <%= f.label :authors, class: :"control-label" %> <br>
    <%= f.text_field :authors, required: true, :value => author_str, class: :"form-control", id: :"inputSuccess1" %>
  </p>
  <%= f.file_field :image, id: :"upload-btn", class: :'btn btn-primary btn-block' %>
  </br>
  <p><%= f.submit nil, class: :'btn btn-primary btn-block' %></p>
<% end %>