<div class="container well clearfix">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Creating book</h1>
      <%= form_for @book, url: books_path do |f| %>
        <p>
          <%= f.label :name, :class => "control-label" %><br>
          <%= f.text_field :name, required: true, class: :"form-control", id: :"inputSuccess1"%>
        </p>
        
        <p>
          <%= f.label :authors, :class => "control-label" %> <br>
          <%= f.text_field :authors, :value => '', class: :"form-control", id: :"inputSuccess1" %>
        </p>
        <p>
        	<%= f.file_field :image, class: :'btn btn-primary btn-block'%>
        </p>
        <p>
          <%= f.submit "Create Book", class: :'btn btn-primary btn-block' %>
        </p>
      <% end %>
    </div>
  </div>
</div>

